language: java
jdk:
- oraclejdk8
addons:
  apt:
    packages:
    - oracle-java8-installer
cache:
  directories:
  - "$HOME/.m2"
install: echo Install phase has been disabled as a complete build is run during deployment
script: mvn package
branches:
  only:
  - master
notifications:
  email:
    recipients:
    - vatbub123+travisbuildnotification@googlemail.com
    on_success: never
on_failure: always
deploy:
  provider: heroku
  app: ifttteventfilter
  skip_cleanup: true
  on:
    repo: vatbub/iftttEventFilter
  api_key:
    secure: b+pFTj3CXRj1QNXAQvRXVNKNieFqqQfGzlPvVcirURrvCD3L9BlwUOnxvWUn6H6yXhUSJmMAAQDCl8Sc8UoTBqIqH98hpQq99k2wYfT8F6qTxNyrVH4RSAqf5lbfjcSstx6oum2OIvpRJYDT1TglNkK1+NiAJHdPZrouVSPruJvy4tkT1xHMm7Mlng6rIn2B1JQEpvgXXwnhHnL9zBfz0grkSOJkxxjVK1mJTi0LEWJjNUFd9vYHVaWHEMZdjpwzeTS3JwxqI13+K7kqYdB7oYSgxahnfb9qr+BZi2OYj+q2W6Eb7ElcOW63OvhvPJAk8UgAD/xPP1gMThS0ZgoMnfbuWw+7pGVJXYNVyUMQ6rFb67v8JIUoIRZ99N1xxpPQAqsyn72qDNcxVi6bh3S+WR2gn7eRpPekgMsJBVI6lQ41YHde5/fTrqNNam5ECobGvV9wDiMAH07ZGzCjTQcvqPTbFBqZj7LJIZkswCqpye4mVC/3QqplI1IF2+49GIdVkmpHFkX8wyy8RYlZCp69c9WGxWYSmgzHqUl5oBu706TJLJHsGVSW7mN5lVBG5P04PXtDKoRMuJLTwxrRbEOLnYm4kzSkM901ZTDRJe1F9ZXvLyV1DIvaOOKwMr81MXvaO6K3aLlDXnDSjGYyT9mjZ3y6IzFpVxAnIQ3dDDrmoCw=
